[Desktop Entry]
Encoding=UTF-8
Name=comex-qt
GenericName=comex-qt
Comment=QT gui for comex core component
Icon=comex-qt
Exec=comex-qt
Categories=Office;QT;KDE;
Name[it_IT]=comex-qt
Comment[it_IT]=QT gui for comex core component
Terminal=false
Type=Application
StartupNotify=true
