[Desktop Entry]
Encoding=UTF-8
Name=comex-gtk
GenericName=comex-gtk
Comment=GTK application to exchange commands to smartcard
Icon=comex-gtk
Exec=comex-gtk
Categories=Office;GTK;GNOME;
Name[it_IT]=comex-gtk
Comment[it_IT]=Applicazione GTK per inviare comandi ad una smartcard
Terminal=false
Type=Application
StartupNotify=true