[Desktop Entry]
Categories=Office;GTK;GNOME;
Comment[it]=GTK gui for comex core component
Comment=GTK gui for comex core component
Comment[it_IT]=GTK gui for comex core component
Encoding=UTF-8
Exec=comex-gtk
GenericName[it]=comex-gtk
GenericName=comex-gtk
Icon=comex-gtk
MimeType=
Name[it]=comex-gtk
Name=comex-gtk
Name[it_IT]=comex-gtk
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
